/* LoginSignup.css */

.auth-container {
    width: 100%;
    max-width: 400px; /* Fixed max-width to create a box effect */
    max-height: 500px; /* Add a max-height to limit vertical expansion */
    margin: auto;
    padding: 20px;
    background-color: #2a2a3c;
    color: #ffffff;    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    top: 50%;
    transform: translateY(50%);
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .auth-container input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #33334a;
    color: #ffffff;
  }
  
  .auth-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #444465;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
  }
  
  .auth-container button:hover {
    background-color: #55557a;
  }
  
  .auth-container p {
    margin-top: 20px;
  }
  
  .auth-container a {
    color: #62c2ff;
    text-decoration: none;
  }
  